<footer>
    <div class="footer-container container">
        <div class="footer-content">
            <div class="footer-logo-socials">
                <!-- Updated Logo -->
                <a class="logo" href="./" aria-label="Chaffer Home Page">
                    <img src="./img/chaffer-logo.jpeg" alt="Chaffer Logo" height="24" />
                </a>
                <ul class="footer-socials socials">
                    <load src="partials/socials.html" />
                </ul>
            </div>
            <div class="footer-subscribe">
                <!-- Updated Subscription Form Title -->
                <p class="footer-subscribe-title">
                    Learn and transform your future with us.
                </p>
                <form class="footer-form">
                    <input
                        class="footer-input"
                        placeholder="Email"
                        name="email"
                        required
                    />
                    <button class="footer-button" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom-row">
            <div class="footer-rights">
                <!-- Updated to use Chaffer name -->
                <p>Chaffer. All rights reserved.</p>
            </div>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <p>/</p>
                <a href="#">Terms of Service</a>
            </div>
            <div class="copyright">
                <p>©2025</p>
            </div>
        </div>
    </div>
</footer>
