<header class="header">
    <div class="container">
        <div class="header-container">
            <!-- Логотип -->
            <div class="header-logo">
                <img src="./img/chaffer-logo.jpeg" alt="Logo" class="logo-img">
            </div>

            <!-- Навигация -->
            <nav class="header-nav">
                <ul class="nav-list">
                    <li class="nav-item active">
                        <a class="nav-link" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./favorites.html">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./">Levels</a>
                    </li>
                </ul>
            </nav>

            <!-- Бургер-кнопка -->
            <button class="mobile-menu-open-btn btn" type="button" aria-label="Open mobile menu button"
                aria-controls="mobile-menu">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
        </div>
    </div>

    <!-- Мобильное меню -->
    <div id="mobile-menu" class="mobile-menu">
        <ul class="mobile-nav-list">
            <li class="mobile-nav-item">
                <a class="mobile-nav-link" href="./login.html">Login/Account</a>
            </li>
            <li class="mobile-nav-item">
                <a class="mobile-nav-link" href="./level.html">Level</a>
            </li>
            <li class="mobile-nav-item">
                <a class="mobile-nav-link" href="./score.html">Score</a>
            </li>
        </ul>
    </div>
</header>