<head>
    <!-- Material Icons CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="quote-of-day">
        <div class="quote-icon-wrapper">
            <!-- Material Icons Light Bulb Icon -->
            <span class="material-icons" style="font-size: 40px; color: #f8f800; filter: drop-shadow(0 0 15px #f8f800);">
                lightbulb
            </span>
        </div>
        <div class="quote-wrapper">
            <div class="quote-title">
                Quote of the day
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <use href="./img/icons.svg#icon-inverted-commas"></use>
                </svg>
            </div>
            <blockquote class="blockquote">
                <p class="blockquote-text"></p>
            </blockquote>
            <p class="quote-author"></p>
        </div>
    </div>
  </body>
  