/* Gestaltet den Block mit einem quadratischen Rahmen */
.text-section {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Abstand zwischen den Blöcken */
}

.text-block {
    border: 2px solid #09a49afa; /* Rahmen in Blau */
    padding: 20px;
    border-radius: 8px; /* Abgerundete Ecken */
    background-color: #f9f9f9; /* Heller Hintergrund */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für den Block */
    width: 100%; /* Breite auf 100% setzen */
    height: 300px; /* Höhe auf eine feste Größe setzen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-block p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.text-block .clickable {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

